<div class="bg"></div>
<div class="container login-container">
            <div class="row">
                <!-- <div class="col-md-6 login-form-1">
                    <h3>Register Your Account</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="User Name *" [(ngModel)]="registerreq.firstName" />
                  </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" [(ngModel)]="registerreq.emailId"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *"[(ngModel)]="registerreq.password"/>
                        </div>
                        <div class="form-group">
                            <a (click)="doRegister()" class="btnSubmit" >Register</a>
                        </div>
                        <div class="form-group">
                        </div>
                    
                </div> -->
                <div class="col-md-6 login-form-2">
                    <div class="login-logo">
                        <img src="assets\img\iconlogo.jpg" alt=""/>
                    </div>
                    <h3>Login Here</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" [(ngModel)]="loginreq.userName" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *"[(ngModel)]="loginreq.userPassword" />
                        </div>
                        <div class="form-group">
                            <!-- <input type="submit" class="btnSubmit" value="Login" /> -->
                            <a class="btnSubmit"  (click)="dologin()" style="cursor: pointer;">Login</a>
                        </div>
                        <div class="form-group">

                            <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
                        </div>
                        <div class="form-group" style="height: 70px;">
     
                          <!-- <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a> -->
                      </div>
                </div>
            </div>
        </div>
